In [2]:
from transformers import AutoModelForSequenceClassification
from transformers import TFAutoModelForSequenceClassification
from transformers import AutoTokenizer, AutoConfig, TextClassificationPipeline
from transformers import pipeline
import numpy as np
import pandas as pd
from scipy.special import softmax
import datetime

In [3]:
!pip install torch

Requirement already satisfied: torch in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: networkx in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from torch) (3.0)
Requirement already satisfied: filelock in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from torch) (3.10.2)
Requirement already satisfied: sympy in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from torch) (1.11.1)
Requirement already satisfied: jinja2 in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from torch) (3.1.2)
Requirement already satisfied: typing-extensions in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from torch) (4.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (from sympy->torch) (1.3.0)

In [4]:
!pip install protobuf==3.20.0

Requirement already satisfied: protobuf==3.20.0 in /Users/giada/.pyenv/versions/3.10.6/envs/crypto/lib/python3.10/site-packages (3.20.0)

In [5]:
data1 = pd.read_csv('complete_vol_2023-03-14.csv')
#data = data[['text', 'datetime']]

In [6]:
data1.head()
data1 = data1.drop(['Unnamed: 0', 'daily_tweets', 'MA7_Sentiment', 'MA20_Sentiment', 'MA50_Sentiment', 'BTC_price', 'BTC_trading_volume'], axis =1)

In [7]:
data1

           date  negative_bert  neutral_bert  positive_bert
0    2021-01-01       0.085275      0.489181       0.425545
1    2021-01-02       0.143365      0.439075       0.417560
2    2021-01-03       0.148220      0.432023       0.419757
3    2021-01-04       0.101558      0.507526       0.390916
4    2021-01-05       0.088530      0.517456       0.394014
..          ...            ...           ...            ...
799  2023-03-11       0.118417      0.483141       0.398441
800  2023-03-12       0.137051      0.479557       0.383392
801  2023-03-13       0.126823      0.496415       0.376762
802  2023-03-14       0.101771      0.503114       0.395115
803  2023-03-15       0.123026      0.533745       0.343229

[804 rows x 4 columns]

In [20]:
#applying most recent data
data = pd.read_csv('16-03-23_to_08-04-23.csv')

In [21]:
def preprocess(text):
    new_text = []
    text = str(text)
    text = text.replace("\n", " ")
    for t in text.split(" "):
        t = '' if t.startswith('@') and len(t) > 1 else t
        t = '' if t.startswith('http') else t
        new_text.append(t)
    return " ".join(new_text)

In [22]:
data['process_text'] = data.text
# data['negative_bert'] = data.text
# data['neutral_bert'] = data.text
# data['positive_bert'] = data.text

#use the preprocess to clean the data
data['process_text'] = data['text'].apply(preprocess)

In [46]:
data

,date,process_text,negative_bert,neutral_bert,positive_bert
0,2023-03-16,＃BTC ＃Bitcoin,0.489502,0.275285,0.235213
1,2023-03-16,Current #Bitcoin Price is $24399 #BTC #Crypto,0.006015,0.549235,0.444750
2,2023-03-16,Elon is blinded by his ego when it comes to ...,0.493548,0.283148,0.223303
3,2023-03-16,Excellent work congratulations #BITCOIN #BTC,0.003711,0.473139,0.523150
4,2023-03-16,#Bitcoin Fear and Greed index Current #BTC pr...,0.004060,0.978413,0.017527
...,...,...,...,...,...
10115,2023-04-08,"Bitcoin - BTC Price: $28,028.82 Change in 1h: ...",0.010006,0.800126,0.189869
10116,2023-04-08,One Bitcoin now worth $28036.125. Market Cap $...,0.000271,0.855259,0.144470
10117,2023-04-08,"#Bitcoin is currently $28,036.1254",0.068032,0.431275,0.500692
10118,2023-04-08,One Bitcoin now worth $28048.00@bitstamp. High...,0.000704,0.864073,0.135222
10119,2023-04-08,Midjourney Uses Photo Uploads To Help You Craf...,0.000146,0.769663,0.230191

In [24]:
!pyenv local crypto

In [25]:
#Model 2b - Use the bert model, with full scores
MODEL_bert = f"ElKulako/cryptobert"
tokenizer_bert = AutoTokenizer.from_pretrained(MODEL_bert)
tokenizer_bert.model_max_length = 512 #solve the error: RuntimeError: The expanded size of the tensor (562) must match the existing size (514) at non-singleton dimension
config_bert = AutoConfig.from_pretrained(MODEL_bert)


# PT
model_bert = AutoModelForSequenceClassification.from_pretrained(MODEL_bert)
model_bert.config.max_position_embeddings = 512

In [26]:
def scores_bert(sample_text):
    encoded_input_bert = tokenizer_bert(sample_text, return_tensors='pt')
    output_bert = model_bert(**encoded_input_bert)
    scores_bert = output_bert[0][0].detach().numpy()
    scores_bert = softmax(scores_bert) #1st score is negative, 2nd score is netural, 3rd score is positive
    return scores_bert

In [27]:
data['text'] = data['process_text'].apply(scores_bert)

In [51]:
data[10:20]

,date,process_text,negative_bert,neutral_bert,positive_bert
10,2023-03-16,"#Bitcoin 🙌Season defined as scores below 25, ...",0.024030,0.834113,0.141857
11,2023-03-16,"Fidelity #Crypto quietly went live, giving mil...",0.000070,0.577342,0.422588
12,2023-03-16,[NEW] New Moons Distribution (Round 37 Proposa...,0.000190,0.251336,0.748474
13,2023-03-16,Don't miss your chance to stay ahead in #crypt...,0.000087,0.890030,0.109883
14,2023-03-16,Thoughts on what the Fed has as current option...,0.000927,0.471062,0.528011
15,2023-03-16,Starting an almost daily Twitter Spaces very s...,0.000261,0.241797,0.757943
16,2023-03-16,We just posted our first ever BitTalk intervie...,0.000121,0.836693,0.163186
17,2023-03-16,#Bitcoin is safer than banks also .,0.052349,0.508737,0.438915
18,2023-03-16,#Bitcoin 2d closed with the biggest sell volum...,0.398228,0.566411,0.035360
19,2023-03-16,🔥 ✅TS ❕ ATOMUSD: descending channel✅❓ Check th...,0.000262,0.679075,0.320663

In [52]:
for i in range(len(data['process_text'])):
    print(f"{i}-------------------")
    print(data['process_text'][i])
    if i > 20:
        break

0-------------------
＃BTC ＃Bitcoin
1-------------------
Current #Bitcoin Price is $24399 #BTC #Crypto
2-------------------
  Elon is blinded by his ego when it comes to #Bitcoin. He got it right the first time when he backed Bitcoin, then decided he wanted his own crypto which is #Doge-shit.
3-------------------
 Excellent work congratulations #BITCOIN #BTC
4-------------------
#Bitcoin Fear and Greed index  Current #BTC price is 24288 $  #Crypto #FearAndGreed  (6/13) 474180
5-------------------
Here’s how the metaverse will evolve 🫣 #metaverse #cryptoworld #Meta #cryptocurrency #blockchain #crypto #nft #web3 #ethereum #ETH #bitcoin #BTC #nftcommunity #nftcollector
6-------------------
10/ For similar threads on #Bitcoin #crypto  #DeFi #NFT #web3 :  Follow 👉   #Bitcoin #crypto #cryptocurrency #nfts #web3 #web3gaming #web3community #NFTCommunity #ETH
7-------------------
Ethereum Is One Step Away From Staked ETH Withdrawals  #Ethereum #News #crypto #Bitcoin #Coins
8-------------------
#bitcoin    Vs FedNow proposed digital payment network  One seems very easy, the other seems complicated and unneeded 🤔
9-------------------
1 year after $11M LUNC bets; Do Kwon wanted, funds paid, hedge stuck on FTX  #News #crypto #Bitcoin #cryptocurrencies #DoKwon
10-------------------
#Bitcoin  🙌Season defined as scores below 25, with the current score 22 down from late February highs in the 47.
11-------------------
Fidelity #Crypto quietly went live, giving millions of retail customers access to #bitcoin, ether
12-------------------
[NEW] New Moons Distribution (Round 37 Proposal) +  #bitcoin #btc #cryptocurrency #crypto #blockchain #eth
13-------------------
Don't miss your chance to stay ahead in #crypto investments! Alpha Trade's team of experts will help you find the next #SHIB token and maximize your profits. Don't miss out on the opportunity. #ALPHA #Bitcoin #Ethereum #BSC #POLY  #ETH #ARB #MATIC #XRP🍣⛹️‍♂️
14-------------------
Thoughts on what the Fed has as current options.  No matter what they do, buy #Bitcoin   Underlying fragility of this system is becoming obvious to anyone with any intellect..  We must opt out. We must come together with aligned incentives and right the ship. #VoteWithYourMoney
15-------------------
Starting an almost daily Twitter Spaces very soon featuring friends, projects, news from  , some alpha, NFA, maybe some POAPs &amp; whatever TF else is going on. What should I cover? What guests do you want to see?   #Bitcoin #Blockchain #CryptoArt #NFTs
16-------------------
We just posted our first ever BitTalk interview article!  Which #Bitcoin business do you want us to interview next?
17-------------------
#Bitcoin is safer than banks also .
18-------------------
#Bitcoin 2d closed with the biggest sell volume in Binance history, this is right after it had its highest buy volume on the candle before. Clear rejection. $BTC
19-------------------
🔥 ✅TS ❕ ATOMUSD: descending channel✅❓ Check the post  #bitcoin  #crypto $btc #btc
20-------------------
⚠️ Exit Long position for #ADAUSDT⚠️  Exit Price: 0.324  Like free signals? Here you go:   #Bitcoin #Crypto #ETH #Binance #CryptoSignals #ADA
21-------------------
⚠️ Exit Long position for #KSHIBUSDT⚠️  Exit Price: 0.010383  Like free signals? Here you go:   #Bitcoin #Crypto #ETH #Binance #CryptoSignals #KSHIB

In [42]:
data = data[['datetime','process_text','text']]
data

KeyError: "['datetime', 'text'] not in index"

In [41]:
#modifying the datetime
def dateonly(x):
    return x[:10]
data['date'] = data['datetime'].apply(dateonly)

data

KeyError: 'datetime'

In [43]:
data["negative_bert"] = data["text"].map(lambda x: x[0])
data["neutral_bert"] = data["text"].map(lambda x: x[1])
data["positive_bert"] = data["text"].map(lambda x: x[2])
data = data[['date', 'process_text', 'negative_bert', 'neutral_bert','positive_bert']]
data

KeyError: 'text'

In [44]:
grouped_data = pd.DataFrame(data.groupby(['date'])[['negative_bert', 'neutral_bert', 'positive_bert']].sum().fillna(0).reset_index())
grouped_data = grouped_data.rename_axis("", axis="columns")

In [45]:
data1

           date  negative_bert  neutral_bert  positive_bert
0    2021-01-01       0.085275      0.489181       0.425545
1    2021-01-02       0.143365      0.439075       0.417560
2    2021-01-03       0.148220      0.432023       0.419757
3    2021-01-04       0.101558      0.507526       0.390916
4    2021-01-05       0.088530      0.517456       0.394014
..          ...            ...           ...            ...
799  2023-03-11       0.118417      0.483141       0.398441
800  2023-03-12       0.137051      0.479557       0.383392
801  2023-03-13       0.126823      0.496415       0.376762
802  2023-03-14       0.101771      0.503114       0.395115
803  2023-03-15       0.123026      0.533745       0.343229

[804 rows x 4 columns]

In [35]:
concatenated_df = pd.concat([data1, grouped_data], ignore_index=True)

# Write the concatenated DataFrame to a new CSV file
concatenated_df.to_csv('concatenated_file.csv', index=False)

data_concat = pd.read_csv('concatenated_file.csv')

In [36]:
def data_prep(df):
    
    X = df[['date']]
    X['date'] = pd.to_datetime(X['date'])
    
    X['Daily_Average_Sentiment']=df['positive_bert']/df.iloc[:,1:].sum(axis=1)
    
    
    X['MA20_Sentiment'] = X['Daily_Average_Sentiment'].rolling(window=21).mean()
    X['MA50_Sentiment'] = X['Daily_Average_Sentiment'].rolling(window=51).mean()
    
    X['Threshold_50'] = X['Daily_Average_Sentiment']>X['MA50_Sentiment']
    X['Threshold_20'] = X['Daily_Average_Sentiment']>X['MA20_Sentiment']
    X['Buy_Sell'] = X['Threshold_50'] & X['Threshold_20']
    
    NNX= X[['date','Daily_Average_Sentiment', 'MA50_Sentiment','MA20_Sentiment','Threshold_50','Threshold_20',
             'Buy_Sell']]
    
    return NNX

In [37]:
final_data = data_prep(data_concat)

/var/folders/dn/rwn91pwx3q9c4zbfkf6rfb6h0000gn/T/ipykernel_46326/815910447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['date'] = pd.to_datetime(X['date'])
/var/folders/dn/rwn91pwx3q9c4zbfkf6rfb6h0000gn/T/ipykernel_46326/815910447.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Daily_Average_Sentiment']=df['positive_bert']/df.iloc[:,1:].sum(axis=1)
/var/folders/dn/rwn91pwx3q9c4zbfkf6rfb6h0000gn/T/ipykernel_46326/815910447.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['MA20_Sentiment'] = X['Daily_Average_Sentiment'].rolling(window=21).mean()

In [38]:
final_data[-50:]

,date,Daily_Average_Sentiment,MA50_Sentiment,MA20_Sentiment,Threshold_50,Threshold_20,Buy_Sell
778,2023-02-18,0.360798,0.362003,0.364323,False,False,False
779,2023-02-19,0.371081,0.362217,0.364365,True,True,True
780,2023-02-20,0.352773,0.362252,0.364158,False,False,False
781,2023-02-21,0.344455,0.362216,0.364191,False,False,False
782,2023-02-22,0.341220,0.362054,0.363353,False,False,False
783,2023-02-23,0.361243,0.361679,0.363494,False,False,False
784,2023-02-24,0.345896,0.361514,0.362666,False,False,False
785,2023-02-25,0.331820,0.361718,0.360262,False,False,False
786,2023-02-26,0.371403,0.362005,0.361744,True,True,True
787,2023-02-27,0.345592,0.361837,0.361309,False,False,False
788,2023-02-28,0.343132,0.361590,0.357820,False,False,False
789,2023-03-01,0.355738,0.362443,0.357956,False,False,False
790,2023-03-02,0.357089,0.362411,0.356231,False,True,False
791,2023-03-03,0.348410,0.362135,0.356493,False,False,False
792,2023-03-04,0.373911,0.362178,0.356717,True,True,True
793,2023-03-05,0.353243,0.361656,0.356354,False,False,False
794,2023-03-06,0.376049,0.361275,0.357375,True,True,True
795,2023-03-07,0.354666,0.361269,0.357488,False,False,False
796,2023-03-08,0.393530,0.362051,0.357935,True,True,True
797,2023-03-09,0.341986,0.361705,0.356576,False,False,False
798,2023-03-10,0.381193,0.361947,0.357392,True,True,True
799,2023-03-11,0.398441,0.362839,0.359184,True,True,True
800,2023-03-12,0.383392,0.362830,0.359771,True,True,True
801,2023-03-13,0.376762,0.362850,0.360913,True,True,True
802,2023-03-14,0.395115,0.363191,0.363325,True,True,True
803,2023-03-15,0.343229,0.363277,0.363421,False,False,False
804,2023-03-16,0.377441,0.363605,0.364192,True,True,True
805,2023-03-17,0.396971,0.363827,0.366624,True,True,True
806,2023-03-18,0.398776,0.364368,0.369813,True,True,True
807,2023-03-19,0.392255,0.365256,0.370806,True,True,True
808,2023-03-20,0.423257,0.366291,0.374504,True,True,True
809,2023-03-21,0.372755,0.366341,0.375915,True,False,False
810,2023-03-22,0.386261,0.366913,0.377368,True,True,True
811,2023-03-23,0.398836,0.367993,0.379356,True,True,True
812,2023-03-24,0.398076,0.368763,0.381721,True,True,True
813,2023-03-25,0.371081,0.369013,0.381586,True,False,False
814,2023-03-26,0.363649,0.369021,0.382082,False,False,False
815,2023-03-27,0.401955,0.369406,0.383316,True,True,True
816,2023-03-28,0.326915,0.369144,0.381994,False,False,False
817,2023-03-29,0.383282,0.369703,0.381506,True,True,True
818,2023-03-30,0.378098,0.368953,0.383226,True,False,False
819,2023-03-31,0.350938,0.368915,0.381785,False,False,False
820,2023-04-01,0.368993,0.368437,0.380383,True,False,False
821,2023-04-02,0.375812,0.369083,0.380022,True,False,False
822,2023-04-03,0.349288,0.368692,0.378713,False,False,False
823,2023-04-04,0.354199,0.368562,0.376765,False,False,False
824,2023-04-05,0.370285,0.368869,0.378053,True,False,False
825,2023-04-06,0.375181,0.369318,0.377946,True,False,False
826,2023-04-07,0.361992,0.368883,0.376280,False,False,False
827,2023-04-08,0.383132,0.369130,0.375535,True,True,True